apiVersion: autoscaling/v2
kind: HorizontalPodAutoscaler
metadata:
  name: {{ cookiecutter.project_name }}
  namespace: {{ cookiecutter.project_name }}
  labels:
    app: {{ cookiecutter.project_name }}
spec:
  scaleTargetRef:
    apiVersion: apps/v1
    kind: Deployment
    name: {{ cookiecutter.project_name }}
  minReplicas: 2
  maxReplicas: 10
  metrics:
    - type: Resource
      resource:
        name: cpu
        target:
          type: Utilization
          averageUtilization: 70
